#i1{
    position: relative;
    top: 10rem;
    left: 30%;
}
#i2{
    position: relative;
    top: 25rem;
    left: 16.57%;
}
#i3{
    position: relative;
    top: 25rem;
    left: 32%;
}
#i4{
    position: relative;
    top: 17.5rem;
    left: 4%;
}
#i5{
    position: relative;
    top: 10rem;
    left: 5%;
}